@use "./var";

header {
    position: fixed;
    z-index: 5;
    height: 10vh;
    width: 100%;
    background-color: var.$secDark;
    @include var.flex-container(row,space-between,center);
    padding-left: 1vw;
    nav {
        @include var.flex-container(row,center,center);
        height: 100%;
        gap: 3vh;
        a {
            @include var.flex-container(row,center,center);
            background-color: rgba(0, 0, 0, 0.3);
            text-decoration: none;
            color: var.$prim;
            height: 50%;
            width: 15vh;
            border-radius: 5px;
            transition: 0.2s all ease;
            border: 1px solid var.$acc;
            &:hover {
                transition: 0.2s all ease;
                background-color: var.$acc
            }
        }
    }
    div.userInfo {
        @include var.flex-container(row,space-between,center);
        border-radius: 5px;
        padding: 1vh;
        background-color: var.$sec;
        gap: 1vh;
        max-width: 14vw;
        div.userIcon {
            width: 3vw;
            height: 3vw;
            @include var.flex-container(row,center,center);
            padding: 1.4vh;
            background-color: var.$prim;
            color: var.$acc;
            font-size: 2rem;
            border-radius: 50%;
            border: 3px solid var.$acc;
        }
        h3 {
            color: var.$prim;
        }
        i {
            cursor: pointer;
            color: var.$acc;
            font-size: 2rem;
        }
    }
    div.imgLogo {
        @include var.flex-container(row,center,center);
        height: 100%;
        width: 10vh;
        cursor: pointer;
        a {
            text-decoration: none;
            height: inherit;
            @include var.flex-container(row,center,center);
            img {
                height: 80%;
            }
        }
        transition: 0.2s all ease;
        &:hover {
            transition: 0.2s all ease;
            background-color: rgba(0, 0, 0, 0.2)
        }
    }
    div.mobileMenuButton {
        display: none;
    }
}
section.mobileMenu {
    display: none;
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    header {
        flex-direction: row-reverse;
        padding-left: 0;
        nav {
            display: none;
        }
        div.mobileMenuButton {
            @include var.flex-container(row,center,center);
            color: var.$prim;
            height: 100%;
            width: 10vh;
            font-size: 2.5rem;
        }
    }
    section.mobileMenu {
        display: block;
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in;
        right: -100vw;
        &.open {
            right: 0;
        }
        section.mobileMenuHeader {
            height: 30%;
            @include var.flex-container(column,flex-start,space-between);
            background-color: var.$secDark;
            color: var.$prim;
            div.mobileMenuClose {
                height: 34%;
                width: 10vh;
                @include var.flex-container(row,center,center);
                align-self: flex-end;
                i {
                    font-size: 2.8rem;
                }
            }
            div.userInfo {
                height: 66%;
                @include var.flex-container(row-reverse,space-between,flex-end);
                padding: 1vh;
                div {
                    @include var.flex-container(column,right,flex-end);
                    div.userIcon {
                        width: 3vw;
                        height: 3vw;
                        @include var.flex-container(row,center,center);
                        padding: 3vh;
                        background-color: var.$prim;
                        color: var.$acc;
                        font-size: 2rem;
                        border-radius: 50%;
                        border: 2px solid var.$acc;
                    }
                    h3 {
                        color: var.$prim;
                    }
                }
            }
        }
        section.mobileMenuContent {
            background-color: var.$primDark;
            height: 70%;
            section.mobileMenuActions {
                height: 80%;
                @include var.flex-container(column,flex-start,flex-end);
                a {
                    @include var.flex-container(row,right,center);
                    text-decoration: none;
                    padding: 0 2vh;
                    color: var.$prim;
                    height: 15%;
                    color: var.$secDark;
                    width: 100%;
                    font-size: 1.2rem;
                    border-bottom: 1px solid var.$sec;
                }
            }
            section.mobileMenuFooter {
                @include var.flex-container(column,flex-end,flex-end);
                height: 20%;
                h4 {
                    cursor: pointer;
                    color: var.$acc;
                    font-size: 1.3rem;
                    height: 30%;
                    margin-right: 1.5vh;
                }
                div.socialMedia {
                    @include var.flex-container(row,flex-start,center);
                    border-top: 1px solid var.$sec;
                    height: 70%;
                    width: 100%;
                    gap: 2vh;
                    padding: 0 2vh;
                    i {
                        font-size: 2rem;
                        color: var.$sec;
                    }
                }
            }
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {

}