@use "./var";

section.Home {
    @include var.flex-container(column,left,flex-start);
    section {
        &.controlPanel {
            @include var.flex-container(row,space-between,center);
            padding: 1vh 2vh;
            width: 100%;
            height: 10vh;
            h1 {
                font-size: 2rem;
                color: var.$secDark;
            }
            div {
                @include var.flex-container(row,center,center);
                gap: 1vh;
                section.AddNote, section.SearchNote {
                    span.controlIcon {
                        @include var.flex-container(row,center,center);
                        background-color: var.$secDark;
                        width: 60px;
                        height: 60px;
                        cursor: pointer;
                        border-radius: 50px;
                        i {
                            color: var.$prim;
                            font-size: 1.2rem;
                            transition: 0.1s all ease-in-out;
                        }
                        &:hover {
                            i {
                                transition: 0.1s all ease-in-out;
                                font-size: 1.5rem;
                            }
                        }
                    }
                    form.ControlForm {
                        position: absolute;
                        padding: 1vh;
                        width: 20vw;
                        right: 2vh;
                        margin-top: 1vh;
                        border-radius: 5px;
                        background-color: var.$secDark;
                        transition: 0.2s all ease-in;
                        opacity: 0;
                        visibility: hidden;
                        &.open {
                          transition: 0.2s all ease-in;
                          opacity: 1;
                          visibility: visible;
                        }
                    }
                }
            }
        }
        &.notes {
            width: 100%;
            padding: 1vh;
            background-color: var.$sec;
            border-radius: 20px 20px 0 0;
            min-height: 76vh;
            box-shadow: 1px -5px 9px -4px rgba(0,0,0,0.3);
            .my-masonry-grid {
                display: -webkit-box; /* Not needed if autoprefixing */
                display: -ms-flexbox; /* Not needed if autoprefixing */
                display: flex;
                margin-left: -10px; /* gutter size offset */
                width: auto;
            }
            .my-masonry-grid_column {
                padding-left: 10px; /* gutter size */
                background-clip: padding-box;
            }
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    section.Home {
        section {
            &.controlPanel {
                padding: 1vh;
                div {
                    section.AddNote, section.SearchNote {
                        form.ControlForm {
                            width: 97%;
                            right: 0.5vh;
                        }
                    }
                }
            }
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    section.Home {
        section {
            &.controlPanel {
                div {
                    section.AddNote, section.SearchNote {
                        form.ControlForm {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
}