@use "./var";

section.Home {
    @include var.flex-container(column,left,flex-start);
    padding: 1vw 2vw;
    h1 {
        font-size: 2rem;
        width: 100%;
        border-bottom: 3px solid var.$secDark;
        color: var.$secDark;
    }
    section {
        padding: 1vh 0;
        width: 100%;
        &.newNote {
            border: 1px solid green;
        }
        &.notes {
            .my-masonry-grid {
                display: -webkit-box; /* Not needed if autoprefixing */
                display: -ms-flexbox; /* Not needed if autoprefixing */
                display: flex;
                margin-left: -10px; /* gutter size offset */
                width: auto;
            }
            .my-masonry-grid_column {
                padding-left: 10px; /* gutter size */
                background-clip: padding-box;
            }
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {

}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {

}