@use "./var";

section.Home {
    @include var.flex-container(column,left,flex-start);
    padding: 1vw 2vw;
    h1 {
        font-size: 2rem;
        width: 100%;
        border-bottom: 3px solid var.$secDark;
        color: var.$secDark;
    }
    section {
        margin: 1vh 0;
        &.newNote {
            height: 10vh;
            border-radius: 5px;
            background-color: var.$secDark;
            form {
                height: 100%;
                @include var.flex-container(row,space-between,center);
                gap: 0.5vh;
                padding: 0 0.5vh;
                div.newNoteInputs {
                    padding: 0.5vh 0;
                    width: 25vw;
                    height: 100%;
                    @include var.flex-container(column,center,center);
                    gap: 0.5vh;
                    input {
                        background-color: var.$secDark;
                        height: 4vh;
                        width: 100%;
                        border: none;
                        padding: 0.5vh;
                        font-size: 1rem;
                        color: var.$prim;
                        &:focus {
                            outline: none;
                        }
                        &::placeholder {
                            color: var.$prim;
                        }
                    }
                }
                button {
                    background-color: rgba(0, 0, 0, 0.3);
                    color: var.$prim;
                    height: 90%;
                    width: 9vh;
                    font-size: 2rem;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
        &.notes {
            width: 100%;
            .my-masonry-grid {
                display: -webkit-box; /* Not needed if autoprefixing */
                display: -ms-flexbox; /* Not needed if autoprefixing */
                display: flex;
                margin-left: -10px; /* gutter size offset */
                width: auto;
            }
            .my-masonry-grid_column {
                padding-left: 10px; /* gutter size */
                background-clip: padding-box;
            }
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    section.Home {
        section {
            &.newNote {
                form {
                    div.newNoteInputs {
                        width: 75vw;
                    }
                }
            }
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    section.Home {
        section {
            &.newNote {
                form {
                    div.newNoteInputs {
                        width: 82vw;
                    }
                }
            }
        }
    }
}