@use "./var";

article.Note {
  background-color: var.$prim;
  padding: 1vh;
  height: fit-content;
  border-radius: 10px;
  margin-bottom: 1vh;
  box-shadow: var.$shadow;
  h4 {
    font-size: 1.3rem;
  }
  div.text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* number of lines to show */
    line-clamp: 10;
    -webkit-box-orient: vertical;
  }
  div.controls {
    @include var.flex-container(row, left, center);
    margin-top: 1vh;
    gap: 1vh;
    i {
      background-color: var.$secDark;
      padding: 1vh;
      border-radius: 5px;
      color: var.$prim;
      cursor: pointer;
    }
  }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  article.Note {
    width: 47vw;
  }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  article.Note {
    width: 30vw;
  }
}

@media screen and (min-width: 1024) and (max-width: 1400px) {
  article.Note {
    width: 100px;
  }
}
