@use "./var";

section.Profile {
  background-image: url(../../../public/vecteezy_abstract-blue-fluid-wave-background_.jpg);
  height: 90vh;
  @include var.flex-container(column, center, center);
  section.profileInfo, form.profileForm {
    background-color: var.$primDark;
    box-shadow: var.$shadow;
    width: 40%;
    height: 66%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.3fr 0.7fr repeat(2, 1fr) 0.3fr;     
    column-gap: 1vh;
    row-gap: 1vh;
    padding: 1vh;
    color: var.$prim;
    div, input, textarea {
      background-color: rgba(23, 17, 78, 1);
      border-radius: 10px;
      padding: 1vh;
      color: var.$prim;
      border: none;
      &:focus {
        outline: none;
      }
      &.div1 { 
        grid-area: 1 / 1 / 3 / 2; 
        @include var.flex-container(row,center,center);
        section {
          @include var.flex-container(row,space-evenly,center);
          border: 5px solid var.$acc;
          border-radius: 50%;
          width: 11vw;
          height: 11vw;
          font-size: 5rem;
        }
      }
      &.div2 { 
        grid-area: 1 / 2 / 2 / 4; 
        font-size: 3rem;
        @include var.flex-container(row,left,center);
      }
      &.div3 { 
        grid-area: 2 / 2 / 3 / 4; 
        @include var.flex-container(row,left,center);
        font-size: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.div4 { 
        grid-area: 3 / 1 / 5 / 4; 
        resize: none;
      } 
    }
    a.div5 { 
      background-color: rgba(23, 17, 78, 1);
      border-radius: 10px;
      padding: 1vh;
      grid-area: 5 / 1 / 6 / 4;
      @include var.flex-container(row,center,center);
      gap: 1vh;
      text-decoration: none;
      color: var.$prim;
      font-size: 1rem;
      &:hover {
        background-color: rgb(45, 38, 114);
      }
      border: none;
      cursor: pointer;
    } 
    section.buttonOptions {
      grid-area: 5 / 1 / 6 / 4;
      gap: 1vh;
      @include var.flex-container(row,center,center);
      button, a {
        text-align: center;
        background-color: rgba(23, 17, 78, 1);
        width: 50%;
        padding: 1vh;
        text-decoration: none;
        color: var.$prim;
        font-size: 1rem;
        &:hover {
          background-color: rgb(45, 38, 114);
        }
        border: none;
        cursor: pointer;
      }
      a {
        border-radius: 0 10px 10px 0;
      }
      button {
        border-radius: 10px 0 0 10px;
      }
    }
  }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  section.Profile {
    section.profileInfo, form.profileForm {
      width: 90%;
      height: 44%;
      div {
        &.div1 { 
          section {
            width: 20vw;
            height: 20vw;
            font-size: 3rem;
          }
        }
        &.div2 { 
          font-size: 1.7rem;
        }
        &.div3 { 
          font-size: 1.1rem;
        }
        &.div4 { 
          grid-area: 3 / 1 / 5 / 4; 
        } 
      }
    }
  }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  section.Profile {
    section.profileInfo, form.profileForm {
      width: 90%;
      height: 50%;
      div {
        &.div1 {
          section {
            width: 20vw;
            height: 20vw;
            font-size: 6rem;
          }
        }
      }
    }
  }
}
