@use "./var";

section.SearchNote {
  form.SearchNoteForm {
    @include var.flex-container(column,center,center);
    gap: 1vh;
    input, button {
      width: 100%;
      border: none;
      padding: 1vh;
      &#buttonSubmit, &#buttonClear{
        background-color: var.$acc;
        color: var.$prim;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  section.SearchNote {
    form.SearchNoteForm {
    }
  }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  section.SearchNote {
    form.SearchNoteForm {
    }
  }
}