$prim: #f9f7f7;
$primDark: #cacfd7;
$sec: #3f72af;
$secDark: #112d4e;
$acc: #b83b5e;
$black: #252525;

@mixin flex-container($direction, $space, $items) {
  display: flex;
  align-items: $items;
  flex-direction: $direction;
  justify-content: $space;
}
