@use "./var";

section.Welcome {
  @include var.flex-container(row,center,center);
  gap: 5vw;
  padding: 2vh;
  height: 86vh;
  background-image: url(../../../public/vecteezy_abstract-blue-fluid-wave-background_.jpg);
  section {
    width: 25%;
    height: 70%;
    border-radius: 10px;
    box-shadow: var.$shadow;
    background-color: var.$primDark;
    &.introduction {
      @include var.flex-container(row,center,center);
      position: relative;
      div {
        @include var.flex-container(row,unset,center);
        width: 100%;
        height: 25%;
        background-color: var.$acc;
        position: absolute;
        &.topBubble {
          padding-right: 2vw;
          justify-content: right;
          border-radius: 10px 10px 0 50%;
          top: 0;
          h1 {
            font-size: 2.5rem;
            color: var.$primDark;
            font-weight: 400;
          }
        }
        &.bottomBubble {
          padding-left: 2vw;
          border-radius: 0 50% 10px 10px;
          bottom: 0;
          h3 {
            font-weight: 400;
            font-size: 1.5rem;
            a {
              color: var.$primDark;
              text-decoration: none;
              cursor: pointer;
              &:hover {
                color: var.$prim;
              }
            }
          }
        }
      }
      p {
        color: var.$black;
        line-height: 30px;
        width: 80%;
        text-align: center;
        font-size: 1.4rem;
        span {
          color: var.$acc;
        }
      }
    }
    &.demostration {

    }
  }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  section.Welcome {
    section {
      width: 90%;
      &.demostration {
        display: none;
      }
    }
  }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  section.Welcome {
    section {
      width: 50%;
    }
  }
}
