@use "./components/var";
@use "./components/navbar";
@use "./components/home";
@use "./components/login";
@use "./components/register";
@use "./components/welcome";
@use "./components/note";
@use "./components/utils/addNote";
@use "./components/utils/searchNote";
@use "./components/utils/flipCard";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
html {
  scroll-behavior: smooth;
  body {
    div.App {
      main {
        background-color: var.$primDark;
        min-height: 100vh;
        padding-top: 10vh;
      }
    }
  }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  html {
    overflow-x: hidden;
    body {
      overflow-x: hidden;
      position: relative;
      &.no-scroll {
        overflow-y: hidden;
      }
      div.App {
        height: 100dvh;
      }
    }
  }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  html {
    body {
      div.App {
        height: 100dvh;
      }
    }
  }
}
